{% extends 'base.html' %}
{%load static%}

{% block content %}    

    <!-- ======= Blog Header ======= -->
    <div class="header-bg page-area">
      <div class="container position-relative">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="slider-content text-center">
              <div class="header-bottom">
                <div class="layer2">
                  <h1 class="title2">Latest events</h1>
                </div>
                <div class="layer3">
                  <h2 class="title3">Profesional Blog Page</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Blog Header -->

    <!-- ======= Blog Page ======= -->
    <div class="blog-page area-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="page-head-blog">
              <div class="single-blog-page">
                <!-- search option start -->
                <form action="#">
                  <div class="search-option">
                    <input type="text" placeholder="Search...">
                    <button class="button" type="submit">
                      <i class="bi bi-search"></i>
                    </button>
                  </div>
                </form>
                <!-- search option end -->
              </div>
              <div class="single-blog-page">
                <!-- recent start -->
                <div class="left-blog">
                  <h4>recent post</h4>
                  <div class="recent-post">
                    <!-- start single post -->
                    {% for recent_event in recent_list|slice:":2" %}
                    <div class="recent-single-post">
                      <div class="post-img">
                        <a href="#">
                          {% if recent_event.promo_picture %}
                            <img src="{{recent_event.promo_picture.url}}" alt="">
                          {% else%}
                            <img src="{% static 'assets/img/blog/1.jpg' %}" alt="">
                          {% endif %}
                        </a>
                      </div>
                      <div class="pst-content">
                        <p><a href="{% url 'event-detail' pk=recent_event.pk %}" target="blank"> {{ recent_event.title }}</a></p>
                      </div>
                    </div>
                    {% endfor %}
                    
                  </div>
                </div>
                <!-- recent end -->
              </div>
    
            </div>
          </div>
          <!-- End left sidebar -->
          <!-- Start single blog -->
          <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="row">
              {% if events_list%}
                {% for event in events_list%}
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="single-blog">
                    <div class="single-blog-img">
                      <a href="blog-details.html">
                        
                        {% if event.promo_picture %}
                        <img src="{{event.promo_picture.url}}" alt="">
                        {% else%}
                        <img src="{% static 'assets/img/blog/1.jpg' %}" alt="">
                        {% endif %}
                      </a>
                    </div>
                    <div class="blog-meta">
                      <span class="comments-type">
                        <i class="bi bi-building"></i>
                        <a href="#">{{ event.venue}}</a>
                      </span>
                      <span class="date-type">
                        <i class="bi bi-calendar"></i>{{event.scheduled_from}} {% if event.scheduled_to %}- {{event.scheduled_to}} {% endif %}
                      </span>
                    </div>
                    <div class="blog-text">
                      <h4>
                        <a href="#">{{event.title}}</a>
                      </h4>
                      <p>
                        {{event.description}}
                      </p>
                    </div>
                    <span>
                      <a href="{% url 'event-detail' pk=event.pk %}" target="blank" class="ready-btn">Read more</a>
                    </span>
                  </div>
                </div>
                {% endfor %}
              {% else%}
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="single-blog">
                  <div class="single-blog-img">
                    <a href="blog-details.html">
                      
                    
                      <img src="{% static 'assets/img/blog/no_content.png' %}" alt="">
                    
                    </a>
                  </div>
                  
                  <div class="blog-text">
                    <h4>
                      <a href="#"></a>
                    </h4>
                    <p>
                      
                    </p>
                  </div>
                  <span>
                  </span>
                </div>
              </div>
              {% endif %}
             
           
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Blog Page -->

  </main><!-- End #main -->

  {% endblock %}