{% extends 'base.html' %}
{%load static%}

{% block content %}    

    <!-- ======= Blog Header ======= -->
    <div class="header-bg page-area">
      <div class="container position-relative">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="slider-content text-center">
              <div class="header-bottom">
                <div class="layer2">
                  <h1 class="title2">Blog Details </h1>
                </div>
                <div class="layer3">
                  <h2 class="title3">profesional Blog Page</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Blog Header -->

    <!-- ======= Blog Page ======= -->
    <div class="blog-page area-padding">
      <div class="container">
        <div class="row">
         
          <!-- Start single blog -->
          <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- single-blog start -->
                <article class="blog-post-wrapper">
                  <div class="post-thumbnail">
                    {% if event.promo_picture %}
                    <img src="{{event.promo_picture.url}}" alt="">
                  {% else%}
                    <img src="{% static 'assets/img/blog/1.jpg' %}" alt="">
                  {% endif %}
                  </div>
                  <div class="post-information">
                    <h2>{{event.title}}</h2>
                    <div class="entry-meta">
                      <span class="author-meta"><i class="bi bi-person"></i> <a href="#">{{event.venue }}</a></span>
                      <span><i class="bi bi-clock"></i> {{event.scheduled_from}} {% if event.scheduled_to %}- {{event.scheduled_to}} {% endif %}</span>
                      <span class="tag-meta">
                        <i class="bi bi-telephone"></i>
                        <a href="#">{{event.contact_number}}</a>                        
                      </span>
                      <span>
                        <i class="bi bi-envelope"></i>
                        <a href="#">{{event.contact_email}}</a>
                      </span>
                    </div>
                    <div class="entry-content">
                      <p>{{event.description}}</p>
                      <blockquote>
                        <p><a href="{{event.reference}}">reference</a></p>
                      </blockquote>
                      <p>{{event.more_info }}</p>
                    </div>
                  </div>
                </article>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
    